<launch>
    
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 /base_link /laser 40"/>

    <!-- Start laser_scan_multi_merger -->
    <node pkg="ira_laser_tools" name="laserscan_multi_merger"
    type="laserscan_multi_merger" output="screen">
    <param name="destination_frame" value="base_link"/>
    <param name="cloud_destination_topic" value="merged_cloud"/>
    <param name="scan_destination_topic" value="/scan"/>
    <param name="laserscan_topics" value="/img_scan"/> <!-- /img_scan for camera, /hokuyo_scan for hokuyo -->
    </node>

</launch>
