<launch>
    
    <node pkg="ira_laser_tools" name="laserscan_virtualizer"
    type="laserscan_virtualizer" output="screen">
    
    <!-- Base frame of the robot --> 
    <param name="/laserscan_virtualizer/base_frame" value="odom"/>
    <!-- Topic to get the PointCloud From -->
    <param name="/laserscan_virtualizer/cloud_topic" value="image_pcl"/>
    <!-- Topic to publish the laserscan to -->
    <param name="/laserscan_virtualizer/output_laser_topic" value="img_scan"/>
    <!-- Frame of the published laserscan -->
    <param name= "/laserscan_virtualizer/virtual_laser_scan" value="img_scan_frame"/>
      
    </node>

</launch>
