<?xml version="1.0"?>

<launch>

    <node pkg="decision" type="gps_decision"
    name="gps_decision" output="screen">
	<!-- Waypoint params: [latitude, longitude] -->
	<rosparam param="waypoints">[42.210711,-83.011494]</rosparam>
    <rosparam param="tolerance">1</rosparam>
    
    <remap from="gps_topic" to="GPS"/>
    </node>

</launch>
