<?xml version="1.0"?>

<launch>

    <node pkg="decision" type="pathfinding" name="pathfinding" output="screen">

        <remap from="initial_pose" to="odom"/>
        <remap from="final_pose" to="waypoint"/>
        <remap from="occupancy_grid" to="map"/>
        <remap from="waypoint" to="waypoint_temp"/>

    </node>

</launch>
