<launch>

    <!-- Camera 1 -->
    <node name="camera_1" pkg="uvc_camera" type="uvc_camera_node" output="screen" ns="cameras">
      <param name="device" type="string" value="/dev/video1" />
      <param name="fps" value="60"/>
    </node>

    <!-- Camera 2 -->
    <node name="camera_2" pkg="uvc_camera" type="uvc_camera_node" output="screen" ns="cameras">
      <param name="device" type="string" value="/dev/video2" />
      <param name="fps" value="60"/>
    </node>

</launch>
