<launch>
    <arg name="X_SCALE_FACTOR" value="70"/>
    <arg name="Y_SCALE_FACTOR" value="290"/>
    <arg name="Z_SCALE_FACTOR" value="50"/>
    <
    !-- image_to_cloud 1 -->
    <node pkg="opencv" name="imageToCloud_1"
    type="image_to_cloud" output="screen">

        <param name="x_scale_factor" value="$(arg X_SCALE_FACTOR)"/>
        <param name="y_scale_factor" value="$(arg Y_SCALE_FACTOR)"/>
        <param name="z_scale_factor" value="$(arg Z_SCALE_FACTOR)"/>

    </node>

    <!-- image_to_cloud 2 -->
    <node pkg="opencv" name="imageToCloud_2"
    type="image_to_cloud" output="screen">

        <param name="x_scale_factor" value="$(arg X_SCALE_FACTOR)"/>
        <param name="y_scale_factor" value="$(arg Y_SCALE_FACTOR)"/>
        <param name="z_scale_factor" value="$(arg Z_SCALE_FACTOR)"/>

    </node>

</launch>
