<launch>

    <!-- Camera 1 -->
    <node name="camera_1" pkg="uvc_camera" type="uvc_camera_node" output="screen" ns="cameras">
      <param name="device" type="string" value="/dev/video1" />
      <param name="fps" value="60"/>
    </node>

    <!-- Camera 2 -->
    <node name="camera_2" pkg="uvc_camera" type="uvc_camera_node" output="screen" ns="cameras">
      <param name="device" type="string" value="/dev/video2" />
      <param name="fps" value="60"/>
    </node>

    <arg name="X_SCALE_FACTOR" value="70"/>
    <arg name="Y_SCALE_FACTOR" value="290"/>
    <arg name="Z_SCALE_FACTOR" value="50"/>
    <!-- image_to_cloud 1 -->
    <node pkg="opencv" name="imageToCloud_1"
    type="imageToCloud" output="screen">

        <param name="x_scale_factor" value="$(arg X_SCALE_FACTOR)"/>
        <param name="y_scale_factor" value="$(arg Y_SCALE_FACTOR)"/>
        <param name="z_scale_factor" value="$(arg Z_SCALE_FACTOR)"/>

    </node>

    <!-- image_to_cloud 2 -->
    <node pkg="opencv" name="imageToCloud_2"
    type="imageToCloud" output="screen">

        <param name="x_scale_factor" value="$(arg X_SCALE_FACTOR)"/>
        <param name="y_scale_factor" value="$(arg Y_SCALE_FACTOR)"/>
        <param name="z_scale_factor" value="$(arg Z_SCALE_FACTOR)"/>

    </node>

</launch>
